.contenedor-row {
    display: flex; 

  }
  
  .contenedor-row .left {
    display: 'inline-block'; 
    padding: 2px ; 
    margin-right: 1rem ;
}

.contenedor-row .right {
    display: 'inline-block'; 
    padding: 2px ; 
    margin-left: 1rem;
  }
  
/*ALIGN AND JUSTIFY */
.center-content {
    display: flex !important;
    justify-content: center !important;
}

.end-content {
    display: flex !important;
    justify-content: flex-end !important;
}

.flex-end-form {
    display: flex !important;
    align-items: flex-end !important;
}

.center-form {
    display: flex !important;
    align-items: center !important;
}

.th-center {
    text-align: center;
}

.mt {
    margin-top: 1rem !important;
}


.divider-form {
    background: rgb(183 185 190 / 12%) !important;
    margin-bottom: 1rem !important;
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #0068DF;
    border-color: #dee2e6;
}

.nav-tabs .nav-link:hover{
    color: black
}

.nav-tabs .nav-link.active:hover{
    color: white
}

.nav-tabs .nav-link{
    color: gray;
    border-color: #dee2e6;
}

.text-toast{
    font-size: 13px;
}